.btn-submit{
    padding: 12px;
    width: 110px;
    margin-top: 35px;
    color: white;
    background-color: black;
    letter-spacing: 1px;
}
input{
    text-align: left;
    margin-top: 10px;
    width: 420px;
    height: 40px;
    padding-left: 10px;
    letter-spacing: 1px;
}
.cancel{
    letter-spacing: 1px;
    text-decoration-line:underline;
}