div{
    font-family: sans-serif;
}
h1{
    font-weight:550;
    letter-spacing: 0.8px;
}
hr{
    border: 0 none;
    border-top: 1px solid rgb(237, 236, 236);
    height: 0px;
    width: 50%;
    margin-left: 17%;
    box-sizing: content-box;
}
p{
    font-size: 11px;
    color: black;
    font-weight: bold;
}
.social{
    border: none;
    margin-bottom: 5px;
    padding: 12px;
    width: 150px;
    border: #4285F4;
    background-color: #4285F4;
    color: #FFF;
}
input{
    text-align: left;
    margin-top: 10px;
    width: 420px;
    height: 40px;
    padding-left: 10px;
    letter-spacing: 1px;
}
.btn-signup{
    padding: 12px;
    width: 110px;
    margin-top: 35px;
    color: white;
    background-color: black;
    letter-spacing: 1px;
}