.instasectiondiv{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.instasectiondiv video{
    width: 100%;
    height: 900px;
}

.instasectiondiv img{
    width: 100%;
    height: 900px;
}